@font-face {
    font-family: "iconfont"; /* Project id 4737289 */
    src: url('//at.alicdn.com/t/c/font_4737289_gp4dc4szsw.woff2?t=1732788648360') format('woff2'),
    url('//at.alicdn.com/t/c/font_4737289_gp4dc4szsw.woff?t=1732788648360') format('woff'),
    url('//at.alicdn.com/t/c/font_4737289_gp4dc4szsw.ttf?t=1732788648360') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-zhiding:before {
    content: "\eb16";
}

.icon-a-118-yane:before {
    content: "\e8da";
}

.icon-shengboyuyinxiaoxi:before {
    content: "\e8c4";
}

.icon-biaoqing3:before {
    content: "\e64e";
}

.icon-biaoqing:before {
    content: "\e600";
}

.icon-icon:before {
    content: "\e694";
}

.icon-wenjian:before {
    content: "\e631";
}

.icon-yuyin:before {
    content: "\e8f7";
}

.icon-shipin:before {
    content: "\e618";
}

.icon-quxiao:before {
    content: "\e64a";
}

.icon-gengduo:before {
    content: "\e61e";
}

.icon-bianji:before {
    content: "\e6af";
}

.icon-chuangjianqunliao:before {
    content: "\e676";
}

.icon-sousuo:before {
    content: "\e60a";
}

