@font-face {
    font-family: "iconfont"; /* Project id 4755120 */
    /* Color fonts */
    src:
            url('//at.alicdn.com/t/c/font_4755120_zgbdd70upz.woff2?t=1732547491433') format('woff2'),
            url('//at.alicdn.com/t/c/font_4755120_zgbdd70upz.woff?t=1732547491433') format('woff'),
            url('//at.alicdn.com/t/c/font_4755120_zgbdd70upz.ttf?t=1732547491433') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-weiqudedouding:before {
    content: "\e723";
}

.icon-yihuodedouding:before {
    content: "\e725";
}

.icon-qigugudedouding:before {
    content: "\e726";
}

.icon-sikaodedouding:before {
    content: "\e727";
}

.icon-jizhidedouding:before {
    content: "\e728";
}

.icon-nanshoudedouding:before {
    content: "\e729";
}

.icon-tianzhendedouding:before {
    content: "\e72a";
}

.icon-yunyundedouding:before {
    content: "\e72b";
}

.icon-xingfendedouding:before {
    content: "\e72c";
}

.icon-sajiaodedouding:before {
    content: "\e72d";
}

.icon-chijingdedouding:before {
    content: "\e72e";
}

.icon-shengqidedouding:before {
    content: "\e72f";
}

.icon-nanguodedouding:before {
    content: "\e730";
}

.icon-sangsangdedouding:before {
    content: "\e731";
}

.icon-xianqidedouding:before {
    content: "\e732";
}

.icon-yipiankongbaidedouding:before {
    content: "\e733";
}

.icon-buyiweirandedouding:before {
    content: "\e734";
}

.icon-kunkundedouding:before {
    content: "\e735";
}

.icon-kaixindedouding:before {
    content: "\e736";
}

.icon-JSON:before {
    content: "\e613";
}

.icon-xmind:before {
    content: "\e621";
}

.icon-psd:before {
    content: "\e64f";
}

.icon-Txt:before {
    content: "\e876";
}

.icon-Word:before {
    content: "\e877";
}

.icon-Excel:before {
    content: "\e878";
}

.icon-Pdf:before {
    content: "\e879";
}

.icon-exe:before {
    content: "\e8ae";
}

.icon-wenjianjia:before {
    content: "\e600";
}

.icon-zip:before {
    content: "\e6a7";
}

.icon-mp4:before {
    content: "\e601";
}

.icon-img_cs:before {
    content: "\e6a8";
}

.icon-mima:before {
    content: "\e61f";
}

.icon-yonghuming:before {
    content: "\e620";
}

.icon-QQ:before {
    content: "\e667";
}

.icon-qunzhu:before {
    content: "\e742";
}

.icon-qunguanliyuan-copy:before {
    content: "\e65d";
}

